.caroussel_image {
    object-fit: cover;
}

.carousel_title_one h5{
    color: $warm-color;
    font-size: 2vw;
    text-align: start;
    text-transform: uppercase;
}

.carousel_title_one p{
    font-size: 2.5vw;
    color: $light-color;
    text-align: start;
    margin-bottom: 0;
}

.carousel_para{
    border-left: solid $warm-color;
    padding-left: 1rem;
}