$theme-colors: (
        "primary": #EFA53E,
        "secondary": #FFDBB5,
        "warm-color": #E0A458,
        "success": #296491,
);
$primary-color: #EFA53E;
$secondary-color: #FFDBB5;
$nav-hover-color: #E0A458;
$warm-color: #296491;
$light-color: #ffffff;
$black-font: #000000;


$title-size: 3rem;
$primary-font-size: 16pt;